core_service/Service References/mainDB_ref/mainDB_service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="mainDB_service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:11887/mainDB_service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:11887/mainDB_service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ImainDB_service_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ImainDB_service_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ImainDB_service_getUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsername" />
  </wsdl:message>
  <wsdl:message name="ImainDB_service_getUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsernameResponse" />
  </wsdl:message>
  <wsdl:portType name="ImainDB_service">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ImainDB_service/DoWork" message="tns:ImainDB_service_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ImainDB_service/DoWorkResponse" message="tns:ImainDB_service_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/ImainDB_service/getUsername" message="tns:ImainDB_service_getUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ImainDB_service/getUsernameResponse" message="tns:ImainDB_service_getUsername_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ImainDB_service" type="tns:ImainDB_service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ImainDB_service/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsername">
      <soap:operation soapAction="http://tempuri.org/ImainDB_service/getUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="mainDB_service">
    <wsdl:port name="BasicHttpBinding_ImainDB_service" binding="tns:BasicHttpBinding_ImainDB_service">
      <soap:address location="http://localhost:11887/mainDB_service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>