e-dent/Service References/ServiceReference1/patientManagement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/generalDB.objectClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/generalDB.objectClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="K_Patient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Born" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DIVID" type="xs:int" />
      <xs:element minOccurs="0" name="DNI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTATS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ensurance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exists" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Job" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Race" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="School" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="K_Patient" nillable="true" type="tns:K_Patient" />
</xs:schema>